@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
} */

span {
  color: white;
}

* {
  scrollbar-width: thin;
  scrollbar-color: #242424 rgba(255, 255, 0, 0.123);
}

*::-webkit-scrollbar {
  width: 6px;
}

*::-webkit-scrollbar-track {
  background: #242424;
}

*::-webkit-scrollbar-thumb {
  background-color: #242424;
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 0, 0.123);
}
.calcViewHeight {
  height: calc(100vh - 4rem);
  overflow-y: scroll;
}
.calcViewHeightRecommendedeFriends {
  height: calc(100vh - 8rem);
  overflow-y: scroll;
}
.calcViewHeightPageProfile {
  height: calc(100vh - 13rem);
  overflow-y: scroll;
}
.calcViewModalFriends {
  height: calc(100vh - 15rem);
  overflow-y: scroll;
}
body {
  background-color: #363636;
}

i {
  cursor: pointer;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  /* a:hover {
    color: #747bff;
  } */
}
