.containerMessage {
  position: relative;
  display: flex;
  padding: 10px;
  gap: 5px;
  cursor: pointer;
}
.containerMessageStaff {
  justify-content: end;
  flex-direction: row-reverse;
}

.imageCard {
  border-radius: 50%;
  width: 35px;
  height: 35px;
  object-fit: cover;
}
.textContainerMessage {
  align-items: center;
  align-self: center;
  font-weight: bold;
  min-width: 130px;
}
.textContainerMessage span {
  display: block;
  line-height: 20px;
}
.nameTextMessage {
  font-size: 12px;
  margin-left: 8px;
}
.containerMessageStaff .nameTextMessage {
  margin-left: 0;
  margin-right: 8px;
  text-align: end;
}

.textMessage {
  font-size: 14px;
  color: white;
  background-color: #242424;
  border-radius: 8px;
  border-top-left-radius: 0;
  padding: 12px;
}
.containerMessageStaff .textMessage {
  background-color: rgb(99, 99, 22);
  border-radius: 8px;
  border-top-right-radius: 0;
}
.textHours {
  font-size: 12px;
  margin-left: 8px;
}
.flexHeaderMessage {
  display: flex;
  justify-content: space-between;

}
.containerMessageStaff .flexHeaderMessage {
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
}
