.container_preview_message {
  margin-left: 12px;
  margin-bottom: 12px;
  padding: 8px;
  background-color: #242424;
  height: calc(50vh - 12px);
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}
.textMessagePreview {
  display: block;
  margin: 12px 0;
}
.containerAllMessage {
  overflow-y: scroll;
  height: 70%;
}
