.container_preview_message {
  margin-left: 12px;
  margin-bottom: 12px;
  padding: 8px;
  background-color: #242424;
  height: calc(100vh - 4rem);
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}
.textMessagePreview {
  display: block;
  margin: 12px 0 12px 12px;
  font-weight: bold;
  font-size: 14px;
}
.containerAllMessage {
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  overflow-y: scroll;
  /* mix-blend-mode: overlay; */

}
