
.header_message {
  padding: 0 32px;
  height: 70px;
  background-color: #242424;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.userInformationChat {
  display: flex;
  margin: auto 0;
  gap: 10px;
}
.userInformationChat img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}
.userInformationChat span {
  line-height: 40px;
}
.actionsChat {
  display: flex;
  gap: 30px;
}
.actionsChat i {
  color: yellow;
  font-size: 18px;
}

.messagesSent {
  padding: 12px;
  scroll-behavior: smooth;
}
